*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Fredoka', sans-serif;

}

main{
    width: 80%;
    margin: auto;
}

h1{
    color: #E53170;
}

header{
    text-align: center;
}

h1, p, div{
    margin-bottom: 20px;
}

/* DEBUG */

.scheda {
    height: 100px;

}

/* ---------------------------------- */

.scheda {
    float: left;
    width: calc(100% / 3 - 20px);
    background-color: black;
    color: white;
    margin: 20px 10px;
}

img{
    height: 100px;
    float: left;
}

.bordoScheda{
    padding: 5px;
    display: table;
}

h3, span{
    padding: 2px;
    display: inline-block;
    font-weight: bold;
}
