*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main{
    width: 80%;
    margin: auto;
}

h1{
    padding: 30px;
    color: #E53170;
}

header{
    text-align: center;
    font-family: 'Fredoka', sans-serif;
}